/* Dialog */
.dialog {
	position: fixed;
	top: 30%;
	bottom: 30%;
	left: 30%;
	right: 30%;
	height: 30%;
	width: 30%;
	background: var(--darkBackground);
	padding: 2%;
}
.dialog {
	text-align: center;
}
.dialogLabel::after {
	content: ": ";
}
