@import "./styles/scrollbar.css";
@import "./styles/post.css";
@import "./styles/miscellaneous.css";

/* Colors */
:root {
  --background: #434141;
  --text: #ccc;
  --feature: #383736;
  --disabled: #444;
  --buttonBackground: #000;
  --darkBackground: #222;
  --lightFeature: #aaa;
}

/* Utility */
.textarea[contenteditable],.post .content[contenteditable] {
  box-sizing: border-box;
  border: solid 1px #666;
  background: var(--background);
  overflow: hidden;
} .textarea[contenteditable]:empty::before {
    content: attr(placeholder);
    color: #555; 
} .textarea[contenteditable]:empty:focus::before {
    content: "";
}

.dropdown {
  display: none;
  position: relative;
  float: right;
  background: var(--text);
  color: var(--background);
  list-style-type: none;
  margin: 0;
  padding: 0;
} button:focus+.dropdown, .dropdown:hover {
  display: initial;
} .dropdown>.dropdown-item {
  padding: 3px;
} .dropdown>.dropdown-item:not(:first-child) {
  border-top: solid var(--background) 1px;
} .dropdown-item:hover {
  background: var(--lightFeature);
}

/* Dialog */
.dialog {
  position: fixed;
  top: 30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  height: 30%;
  width: 30%;
  background:var(--darkBackground);
  padding: 2%;
}

.identity {
  display: inline-flex;
  cursor: pointer;
}

.whowhen>* {
  display: block;
  white-space: nowrap;
}

.avatar {
  border-radius: 30%;
  margin: 0.2em;
} .post>.identity>.avatar {
  height: 2em;
  width: 2em;
} .reply>.identity>.avatar {
  height: 0.9em;
  width: 0.9em;
}

/* Core */
body {
  background: var(--background);
  color: var(--text);
  font-family: system-ui, sans-serif;
  font-size: 120%;
  overflow-wrap: break-word;
}

.post {
  contain: content;
}

/* Menu */
#menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 98%;
  width: 5vw;
  margin: 1%;
} #menu>* {
  width: 100%;
  /*padding-bottom: 100%; Allows for ratios but messes up height */
  height: 5vw;
  margin-bottom: 1vh;
  cursor: pointer;
} #menu>*.smaller {
  background: var(--feature);
  border-radius: 100%;
} #menu>*>* {
  border-radius: 30%;
} #menu>*:not(.smaller)>* {
  height: 100%;
  width: 100%;
} #menu>*.smaller>* {
  height: 70%;
  width: 70%;
  padding: 15%;
}

/* Feed */
#feed {
  width: 40%;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
}
#feedNewPostText {
  height: 15%;
}

.new #feedNewPostContent {
  width: 100%;
  margin-top: 4%;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 1%;
  margin: 0;
  border: none;
  resize: vertical;
  height: 50px;
  transition: height .15s ease-in;
} .new:focus-within #feedNewPostContent {
  height: 300px;
  transition: height .25s ease-out;
}

.new {
  background: var(--feature);
  width: 100%;
}